<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is index.html</h1>
    <p>Click <a href="/help">here</a> for help.</p>
    <h2>This page is visited {{ count }} times.</h2>
    <img src="{% static 'logo.jpg' %}" alt="Amrita Logo" />
    <link rel="stylesheet" type='text/css' href="{% static 'style.css' %}">

    <ol>
        {% for f in fruit_list %}
        <li> {{ f }} </li>
        {% endfor %}
        </ol>
</body>
</html>